@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: auto;
  overflow: hidden;
}
.section_01 {
  padding: 120px 0;
}
.section_01 .testimonials_content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
.section_01 .testimonials_content .text_part {
  max-width: 371px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.section_01 .testimonials_content .slider_part {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  position: relative;
}
.section_01 .testimonials_content .text_part h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 15%;
  font-weight: 700;
  color: #cf9455;
}
.section_01 .testimonials_content .text_part h2 {
  font-family: "Crimson Pro", serif;
  font-size: 60px;
  line-height: 110%;
  font-weight: 600;
  color: #000000;
}
.section_01 .testimonials_content .text_part p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  margin-top: 24px;
  margin-bottom: 40px;
}
.section_01 .testimonials_content .text_part .btn {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px 28px 14px 28px;
  background-color: #cf9455;
}
